# MongoDB Atlas Connection String
# Replace with your actual MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://igniteufuture:ubdrfuL8C3bSsMs6@igniteu.scoimng.mongodb.net/kataria?retryWrites=true&w=majority&appName=igniteu

# Server Port (optional, defaults to 3000)
PORT=8000

